/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/02/2016, 07:57:46
    Author     : 31448471
*/

*{
    font-family: Arial, Verdana;
}

body{
    margin: 0;
}

.topMenu{
    background-color: #2F3233;
    color: #fff;
    text-decoration: none;
}

.topMenu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.topMenu ul{
    padding-left: 0px;
    margin: 0;
}

.topMenu ul li:hover, .selectedMenu{
    background-color: #09ACE3;
}

.topMenu ul a, .topMenu ul a:active, .topMenu ul a:visited{
    color: #fff;
}